.DS_Store
build
.claude
.dev
.vim/
CLAUDE.md
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dist
